<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Address Bean -->

    <bean id="address"
          class="com.tapacademy.Address">

        <constructor-arg name="city"
                         value="Bangalore"/>

        <constructor-arg name="state"
                         value="Karnataka"/>

    </bean>

    <!-- Gold Customer Bean -->

    <bean id="gold"
          class="com.tapacademy.GoldCustomer">

        <constructor-arg name="address"
                         ref="address"/>

    </bean>

    <!-- Platinum Customer Bean -->

    <bean id="platinum"
          class="com.tapacademy.PlatinumCustomer">

        <constructor-arg name="address"
                         ref="address"/>

    </bean>

</beans>